{% extends "base.html" %}

{% block content %}
<div class="section">
  <div class="mt-4">
    <h1 class="fs-1 font-monospace title">Items</h1>
  </div>

    
<div class="row">
  <div></div>
  <div></div>
  <div><a href="{% url 'app:summary' %}">Summary</a></div>
</div>
  {% if items %}

<table class="table table-hover">
<thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% for item in items %}
<tr class="table-active">
    <td>{{ item.item }}</td>
    <td>{{ item.price }}</td>
    <td><a href="{% url 'app:add_to_summary' item.id %}">+</a></td>
</tr>
{% endfor %}

</tbody>  
</table>    
{% else %}
<div class="mt-2">
<p class="fs-5 gray-400">No items to display</p>
</div>
{% endif %}
</div>
{% endblock content %}


