{% extends "base.html" %}

{% block content %}

{% if cart %}
<div class="section">
  <div class="mt-4">
    <h1 class="fs-1 font-monospace title">Summary</h1>
  </div>

<table class="table table-hover">
<thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
            <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    
{% if items %}
{% for obj in items %}
<tr class="table-active">
    <td>{{ obj.item.name }}</td>
<td>{{ obj.quantity }}</td>
<td>{{ obj.item.price }}</td>
</tr>
{% endfor %}
{% endif %}
</tbody>
<tfoot style="border-top: 3px solid black;">
    <tr>
        <td>Total</td>
        <td></td>
        <td>{{ total_amount }}</td>
    </tr>
</tfoot>
</table>    
{% endif %}
</div>
{% endblock content %}